@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Hanken Grotesk", serif;
  background-color: black;
  height: 100vh;
  background-color: hsl(241, 100%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -------------------score board------------------- */
.right-side {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 35%;
  height: 380px;
}
.final-score {
  background: linear-gradient(
    to top,
    hsla(241, 72%, 46%, 0),
    hsla(256, 72%, 46%, 1)
  );
  border-radius: 50%;
  padding: 1em;
  margin: auto;
  /* padding-bottom: 1em; */
  width: 27%;
  height: 27%;
}
.feedback p {
    text-align: center;
  margin: 8px;
  
}
/* ------------------summary ----------------------------- */
.summary {
  background-color: white;
  width: 36%;
  height: 380px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: -9px;
  z-index: -1;
}
ul {
  list-style-type: none;
  padding: 1em;
  margin: 0;
}
ul h3 {
  margin-top: 0em;
  margin-bottom: 1.5em;
}
.score {
  border: 1px solid black;
  border-radius: 5px;
  margin: 8px;
  padding: 15px;
  width: 80%;
  display: flex;
}
#reaction {
  /* justify-content: space-between; */
  background: hsla(0, 100%, 90%, 0.5);
}
#reaction span {
  font-weight: bold;
  color: hsl(0, 100%, 67%);
  margin-right: 30%;
}
#memory {
  background: hsla(39, 100%, 90%, 0.5);
}
#memory span {
  margin-right: 30%;
  font-weight: bold;
  color: hsl(39, 100%, 56%);
}
#verbal {
  background: hsla(166, 100%, 90%, 0.5);
}
#verbal span {
  margin-right: 36%;
  font-weight: bold;
  color: hsl(166, 100%, 37%);
}
#visual {
  background: hsla(234, 85%, 90%, 0.5);
}
#visual span {
  margin-right: 36%;
  font-weight: bold;
  color: hsl(234, 85%, 45%);
}
#btn {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: hsl(224, 30%, 27%);
  width: 98%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 15px;
  transition: all 0.2s ease-in;
}

/* -------------------footer ------------------------------- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .right-side,
  .summary {
    width: 100%;
  }
}
