 /* ## Colors

- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%) */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Manrope" ,sans-serif; 
}
body{
    background-color: hsl(210, 46%, 95%)  ;
}
.display-none{
    display: none;
}
.article-preview-container{
    width: 730px;
    margin: 5rem auto;
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.50);
    display: flex;
    align-items: center;
}
.drawers-img{
      border-radius: 10px 0px 0px 10px;
      width: 300px;
      height: 290px;
      display: block;
}
.article-content-container{
    background-color: white;
    border-radius:0px 10px 10px 0px;
    padding: 2rem;
    height: 290px;
    width: 500px;
}
.main-heading{
    color: #48556A;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: .25px;
    padding-bottom: 1rem;
}
.preview-text{
    color: #6e8098;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: .5rem;
}
.author-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.date-name-avatar-container{
    display: flex;
    align-items: center;
}
.author-avatar-img{
    border-radius: 50%;
    width: 40px;
    margin-right: 1rem;
}
.author-name{
    color: #48556A;
    font-size: 13px;
    font-weight: 700;
    line-height: 1rem;
    margin-top: 1rem;
}
.share-btn-container{
    height: 32px;
    width: 32px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.share-shape-container{
    background-color: #48556A;
    border-radius: 7px ;
    width: 240px;
    height: 60px;
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.50) ;
    position: absolute;
    left: 215px;
    top: -55px;
}
.share-icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
    column-gap: 20px;
}
.share-text-p{
    color: #6e8098;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 5px;
}
.mobile-author-area{
    display: none;
}
.mobile-avatar-container{
    display: none;
}

.mobile-share-btn-container{
    display: none;
}
.mobile-social-sharing-bar{
   display: none;
}
.mobile-share-icons-container{
    display: none;
    
}
.mobile-social-sharing-btn-container{
   display: none;
}

/* -----------Media Queries------------------- */

@media screen and (max-width: 767px) {
    
    
    .article-preview-container{
        width: 95%;
        height: 100vh;
        margin: 0rem auto 0rem auto;
        flex-direction: column;
        padding: 1rem;
    }
    
    .article-img-container{
        width: 100%;
    }
    .drawers-img{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
    }
    .article-content-container{
        border-radius:0px 0px 10px 10px;
        padding: 1rem;
    /* height: 290px; */
    width: 100%;
    
}
.article-content-container .author-info {
        display: none !important;
}
.main-heading{
    
    padding-left: 1rem;
    padding-right: 1rem;
}
.preview-text{
     padding-left: 1rem;
    padding-right: 1rem;
}


/* ------------------------ Mobile Author Area--------------------- */
.mobile-author-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* margin-top: 2rem; */
     padding-left: 1rem;
    padding-right: 1rem;
    /* display: none; */
}
.mobile-avatar-container{
    display: flex;
    align-items: center;
}

.mobile-share-btn-container{
    height: 32px;
    width: 32px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* ------------------------ Mobile Share Bar--------------------- */
.mobile-social-sharing-bar{
    width: 100%;
    background-color: #48556A;
    display: flex;
    align-items: center;
    justify-content: space-between;
     height: 60px;
     display: none;
     border-radius: 0px 0px 10px 10px;
     /* margin-top: 3rem ; */
}
.mobile-share-icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    column-gap: 20px;
    padding-left: 1rem;
    
}
.mobile-social-sharing-btn-container{
    height: 32px;
    width: 32px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 1rem;
}
}