 /* ## Colors

- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%) */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    padding: 0;
     font-family: "Manrope", serif;
     background-color: hsl(210, 46%, 95%) ;
     color: black;
}
.main-container{
    margin: 10px;
     border-radius: 15px;
     width: 100%;
    max-width: 375px;
    max-height: 650px;
    border-radius: 10px;
   /* overflow: auto; */
   background-color: white;
}

#bgImg{
    height: 250px;  
    width: 100%;
    border-radius: 10px 10px 0px 0px; 
    /* border-radius: 10px; */
}
.heading{
    font-weight: bold;
    font-size: 20px;
}
p{
    font-size: 18px;
    line-height: 25px;
}
.text{
    margin-left: 15px;
    margin-right: 20px;
}
.footer{
    display: flex;
}
#profile{
    border-radius: 50%;
    height: 45px;
    margin-right: 10px;
    margin-bottom: 5px; 
}
#share{
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    padding: 10px;
    margin-left: 90px;
    border: none;
}
#share:hover{
    cursor: pointer;
}
.hover,.share-option{
    width: 100%;
}
.share-option{
    color: white;
     width: 100%;
    border-radius: 0px 0px 10px 10px; 
    width: 370px;
    height: 9vh;
    align-items: center; /* Optional: Center content vertically */
    display: flex;
    justify-content: space-evenly; 
    background-color: hsl(217, 19%, 35%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}