/*
## Colors

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&display=swap');
*{
     font-family: "Josefin Sans", serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     
}
.main-container{
    background-image: url("images/bg-pattern-desktop.svg");
    width: 730px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-img{
    display: block;
}
.attribution {
     font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
 