 /* ## Colors

- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%) */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    padding: 0;
     font-family: "Manrope", serif;
     background-color: hsl(210, 46%, 95%) ;
     color: black;
}
.main-container{
    margin: 10px;
     border-radius: 15px;
    max-width: 375px;
    max-height: 650px;
    border-radius: 10px;
   /* overflow: auto; */
   background-color: white;
}

#bgImg{
    height: 250px;  
    width: 100%;
    border-radius: 10px 10px 0px 0px; 
    /* border-radius: 10px; */
}
.heading{
    font-weight: bold;
    font-size: 18px;
}
p{
    font-size: 15px;
    line-height: 23px;
}
.text{
    margin: 25px;
}
#profile{
    border-radius: 50%;
    height: 50px;

}
.bottom{
    display: flex;
    
}
#share{
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    height: 18px;
    width: 18px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}